header {
  grid-area: header;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
  width: 50%;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'section section aside'
    'footer footer footer';
}

article {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    'image description';
}

div.image {
  grid-area: image;
}

div.description {
  grid-area: description;
}

@media screen and (max-width:900px) {
  body {
    grid-template-columns: 100%;
    grid-template-areas: 
    'header'
    'nav'
    'section'
    'aside'
    'footer';
  }
}