header { grid-area: header;}
main { grid-area: main;}
aside { grid-area: aside;}
footer { grid-area: footer;}

body {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer';
}

header {
    display: flex;
    flex-direction: row;
}

header>div, header>nav {
    flex: 1;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header>nav>ul>li {
    flex: 1;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
footer {
    text-align: center;
}